*{
    box-sizing: border-box;
}
#test{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: auto;
}

.item{
    background-color: lightblue;
    border: 2px solid blue;
    height: 100px;
    width: 20%;
    border-radius: 5px;
}
